<!DOCTYPE html>    
<html lang="en">    
  <head>    
    <title>首页</title>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link href="/seproject/css/bootstrap.min.css" rel="stylesheet" media="screen">    

    <link href="/seproject/jumbotron.css" rel="stylesheet">
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
  </head>   
  
<body>  

    <nav class="navbar navbar-default navbar-inverse" role="navigation">  
        <div class="collapse navbar-collapse">  
            <a class="navbar-brand" href="/seproject/index.php/user/home">首页</a>  
            <ul class="nav navbar-nav">  
                <li><a href="/seproject/index.php/user/search">论文查询</a></li>   
                <li><a href="/seproject/index.php/user/manage">论文管理</a></li>  
                <li><a href="/seproject/index.php/user/usermessage"><?php echo $username ?> </a></li>  
                <li><a href="/seproject/index.php">退出登录</a></li>  
            </ul>  
        </div>  
    </nav>  

    <HR WIDTH=100% SIZE=8 ALIGN=LEFT NOSHADE>


   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" >
        <h2>Title : A novel Ni 2 AlTi-containing composite with excellent wear resistance and anomalous flexural strength</h2>
        <p>
        <h5>Abstracts A novel twinning platelets strengthened TiC–Ni 2 AlTi composite was designed and fabricated by an in situ reactive hot-pressing method of blended Ti 3 AlC 2 and Ni powders. Upon de-intercalation of Al from nanolaminated Ti 3 AlC 2 upon heating, TiC twinning platelets with width in submicrometer size were introduced. The obtained composite exhibits excellent wear resistance, high flexural strength, moderate fracture toughness and Vickers hardness. Unexpectedly, the flexural strength of the composite increases with temperature rising from 500 to 800°C, reaching a maximum of 936MPa at 800°C, thereby benefiting the application as cutting tools. </h5>
        </p>
        <hr>
        <p><a class="btn btn-info btn-lg" role="button" onclick="window.open('/seproject/pdf/home.pdf')";>Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>Title : 论基于ＯｐｅｎＧＬ技术的三维建模设计</h3>

          <p>OpenGL即开放性图形库，它是一种高性能的开放式且功能强大的3D图形库，具有几百个指令和函数。本文讨论了两种将常见三维模型转入OpenGL中实现交互的方法，首先对3DS文件进行分析，然后给出转化的思路。从而将三维建模软件产生的三维模型</p>
          <hr>
          <p><a class="btn btn-info" role="button" onclick="window.open('/seproject/pdf/home.pdf')">Learn more  &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h3>Title : 浅谈水利工程施工技术</h3>

          <p>目前的社会竞争非常激烈，提升水利项目的建设能力，确保项目的品质优秀是十分关键的。文章具体的分析了当前水利项目建设的具体技术情况，并且从一定层次上论述了强化技术的常用方法和措施等</p>
          <hr>
          <p><a class="btn btn-info" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3>Title : 中国可持续发展水资源战略研究综合报告</h3>

          <p>水资源是基础自然资源,是生态环境的控制性因素之一;同时,又是战略性经济资源,是一个国家综合国力的有机组成部分.展望将来,水资源正日益影响全球的环境与发展,甚至可能导致国家间冲突.探讨21世纪水资源的国家战略及其相关科学问题,是世纪之交全球共同关注和各国政府的重点议题之一</p>
          <hr>
          <p><a class="btn btn-info" role="button" onclick="window.open('/seproject/pdf/home3.pdf')">Learn more  &raquo;</a></p>
        </div>
      </div>

   

      <hr>


     <div id="footer">
     <div class="container">
         <p>
      	<center>
        <h4>Designed by Nightingale ! 2014.10</h4>
      	</center>
        </p>
     </div>
    </div>
      
    <script src="/seproject/js/jquery-2.1.1.min.js"></script>    
    <script src="/seproject/js/bootstrap.min.js"></script>    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/seproject/js/ie10-viewport-bug-workaround.js"></script>

 </body>    
</html> 