<!DOCTYPE html>    
<html lang="en">    
  <head>    
    <title>论文查询</title>  

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">    
  </head>   

<body>  
    <nav class="navbar navbar-default navbar-inverse" role="navigation">  
        <div class="collapse navbar-collapse">  
                <a class="navbar-brand" href="home.html">首页</a>  
                <ul class="nav navbar-nav">  
                <li class="active"><a href="search2.html">论文查询</a></li> 
                <li><a href="manage.html">论文管理</a></li>  
                <li><a href="user.html">用户信息</a></li>  
                <li><a href="index.html">退出登录</a></li>  
                </ul>  
        </div>  
    </nav>  

 <HR WIDTH=100% SIZE=8 ALIGN=LEFT NOSHADE>

        
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>作者</th>
                <th>关键字</th>
            </tr>
        </thead>

        <tbody>
            <?php foreach ($list as $value): ?>
            <tr>
            <td><?php echo $value['papernumber'] ?></td>
            <td><?php echo $value['headline'] ?></td>
            <td><?php echo $value['author'] ?></td>
            <td><?php echo $value['keywords'] ?></td>
            </tr>
        <?php endforeach;?>
            <tr>
            <td>2</td>
            <td>world</td>
            <td>hao</td>
            </tr>
        </tbody> 
    </table>
 



<HR WIDTH=100% SIZE=8 ALIGN=LEFT NOSHADE>
      <center>
        <h4>Designed by Nightingale ! 2014.10</h4>
      </center>

<!-- JS-->
<script src="js/jquery-2.1.1.min.js"></script>    
<script src="js/bootstrap.min.js"></script>    

</body>    
</html> 
