<!DOCTYPE html>    
<html lang="en">    
  <head>    
    <title>首页</title>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link href="/seproject/css/bootstrap.min.css" rel="stylesheet" media="screen">    

    <link href="jumbotron.css" rel="stylesheet">
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/seproject/js/ie-emulation-modes-warning.js"></script>
  </head>   
  
<body>  

    <nav class="navbar navbar-default navbar-inverse" role="navigation">  
        <div class="collapse navbar-collapse">  
            <a class="navbar-brand" href="/seproject/index.php/user/home">首页</a>  
            <ul class="nav navbar-nav">  
                <li><a href="/seproject/index.php/user/search">论文查询</a></li>   
                <li><a href="/seproject/index.php/user/manage">论文管理</a></li>  
                <li><a href="/seproject/index.php/user/usermessage"><?php echo $username?></a></li>  
                <li><a href="/seproject/index.php">退出登录</a></li>  
            </ul>  
        </div>  
    </nav>  

    <HR WIDTH=120% SIZE=8 ALIGN=LEFT NOSHADE>

      <div class = "information container">
        
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
          <div class="panel panel-info">
            	<!-- Default panel contents -->
                <div class="panel-heading">论文详细信息</div>
                <div class="panel-body">
                <p></p>
                </div>
            	<!-- Table -->
            	<!--<input type="text" name="test1" value="默认值" onfocus="if(this.value=='默认值'){this.value=''}" />-->
              <form action="/seproject/index.php/papermanage/revise/<?php echo $papernumber?>" method="post">
            	<table class="table table-hover table-bordered">

             	<tr class="warning"><td>标题</td></tr>
            		<tr><td><input type="text" name="headline" value="<?php echo $headline?>" > </td></tr>

                	<tr class="warning"><td>第一作者</td></tr>
                	<tr><td><input type="text" name="author" value="<?php echo $author?>"  > </td></tr>

                  <tr class="warning"><td>第二作者</td></tr>
                  <tr><td><input type="text" name="authortwo" value="<?php echo $authortwo?>"  > </td></tr>

                  <tr class="warning"><td>第三作者</td></tr>
                  <tr><td><input type="text" name="authorthree" value="<?php echo $authorthree?>"  > </td></tr>

                	<tr class="warning"><td>发表刊物</td></tr>
                	<tr><td><input type="text" name="origin" value="<?php echo $origin?>" ></td></tr>

                	<tr class="warning"><td>出版年份</td></tr>
                	<tr><td><input type="text" name="year" value="<?php echo $year?>" ></td></tr>

                	<tr class="warning"><td>出版月份</td></tr>
                	<tr><td><input type="text" name="month" value="<?php echo $month?>" ></td></tr>

                	<tr class="warning"><td>关键字</td></tr>
                	<tr><td><input type="text" name="keyword" value="<?php echo $keywords?>" ></td></tr>

                	<tr class="warning"><td>摘要</td></tr>
                	<tr><td>
                		<textarea class="form-control" rows="3"  name="summary">
                			<?php echo $summary?>
                		</textarea>
                	</td></tr>
                  <!-- 修改所属分类 -->
                	<tr class="warning"><td>所属类别</td></tr>
                	<tr><td>
                		<select class="col-sm-4 input-xlarge" name ="typeid">
                        <?php foreach ($types as $value) :?>
                        
                        <?php if (($value->typelevel==3) && ($value->typename==$type3)) :?>
                        
                        <option value="<?php echo $value->typeid?>" selected>
                            <?php foreach ($types as $pvalue) :?>
                            <?php if (($pvalue->typeid)==($value->parenttype)) :?>
                            

                            <?php foreach ($types as $ppvalue) :?>
                            <?php if (($ppvalue->typeid)==($pvalue->parenttype)) :?>
                            <?php echo $ppvalue->typename?>
                            <?php echo "-"?>
                        <?php endif;?>
                        <?php endforeach;?>

                        <?php echo $pvalue->typename?>
                            <?php echo "-"?>

                        <?php endif;?>
                        <?php endforeach;?>
                        <?php echo $value->typename?></option>
                    <?php endif;?>





                        <?php if ($value->typelevel==3 && $value->typename!=$type3) :?>
                        <option value="<?php echo $value->typeid?>">
                            <?php foreach ($types as $pvalue) :?>
                            <?php if (($pvalue->typeid)==($value->parenttype)) :?>
                            

                            <?php foreach ($types as $ppvalue) :?>
                            <?php if (($ppvalue->typeid)==($pvalue->parenttype)) :?>
                            <?php echo $ppvalue->typename?>
                            <?php echo "-"?>
                        <?php endif;?>
                        <?php endforeach;?>

                        <?php echo $pvalue->typename?>
                            <?php echo "-"?>

                        <?php endif;?>
                        <?php endforeach;?>
                        <?php echo $value->typename?></option>
                    <?php endif;?>
                    <?php endforeach;?>
                            </select>
                	</td></tr>

      		<tr>
        		<td>
        		<!-- Button trigger modal -->
        		<button type="submit" class="btn btn-info">修改信息</button>
        		<!-- Modal -->
        		
        		</td>
      		</tr>


                	<tr class="warning"><td></td></tr>
                	<tr class="default">
                	<td>
                    	<!-- Button trigger modal -->
        		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal08">删除论文</button>
        		<!-- Modal -->
        		<div class="modal fade" id="myModal08" tabindex="-1" role="dialog" aria-labelledby="myModalLabel08" aria-hidden="true">
            		<div class="modal-dialog">

              	<div class="modal-content">
                  		<div class="modal-header">
                      			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      			<h4 class="modal-title" id="myModalLabel08">删除论文</h4>
                  		</div>
                  		<div class="modal-body">
                      			<center><h2>确认删除该论文??</h2></center>
                  		</div>
                  		<div class="modal-footer">
                      			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      			<a href="/seproject/index.php/papermanage/delete/<?php echo $papernumber?>">
                      			<button type="button" class="btn btn-info">OK</button>
                    			</a>
                  		</div>
              	</div>

            		</div>
        		</div>
        		</td>
      		</tr>

            	</table>
            </form>
          	</div>
          	</div>
          <div class="col-sm-2"></div>
      </div>

      </div>

<div class="well">

        <a type="button" class="btn btn-success btn-lg btn-block" href="javascript:" onclick="window.open('/seproject/thesis/<?php echo $location?>')">Open</a>  
       <hr>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="/seproject/index.php/user/search" >Back</a>  
</div>


     <div id="footer">
     <div class="container">
         <p>
      	<center>
        <h4>Designed by Nightingale ! 2014.10</h4>
      	</center>
        </p>
     </div>
    </div>


      
    <script src="/seproject/js/jquery-2.1.1.min.js"></script>    
    <script src="/seproject/js/bootstrap.min.js"></script>    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/seproject/js/ie10-viewport-bug-workaround.js"></script>

 </body>    
</html> 