<!DOCTYPE html>    
<html lang="en">    
  <head>    
    <title>首页</title>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link href="/seproject/css/bootstrap.min.css" rel="stylesheet" media="screen">    

    <link href="jumbotron.css" rel="stylesheet">
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/seproject/js/ie-emulation-modes-warning.js"></script>
  </head>   
  
<body>  

    <nav class="navbar navbar-default navbar-inverse" role="navigation">  
        <div class="collapse navbar-collapse">  
            <a class="navbar-brand" href="/seproject/index.php/user/home">首页</a>  
            <ul class="nav navbar-nav">  
                <li><a href="/seproject/index.php/user/search">论文查询</a></li>   
                <li><a href="/seproject/index.php/user/manage">论文管理</a></li>  
                <li><a href="/seproject/index.php/user/usermessage"><?php echo $username?></a></li>  
                <li><a href="/seproject/index.php">退出登录</a></li>  
            </ul>  
        </div>  
    </nav>  

    <HR WIDTH=120% SIZE=8 ALIGN=LEFT NOSHADE>

      <div class = "information">
        //我是references详细信息！
      </div>

<div class="well">

        <a type="button" class="btn btn-success btn-lg btn-block" href="javascript:" onclick="http://<?php echo $location?>">Open</a>   
        <!--(需改动)按钮无法实现功能-->

        <a href = "http://<?php echo $location?>" target="_Blank">Open</a>
       <hr>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="/seproject/index.php/user/search" >Back</a>  
        <!--(需改动)返回查询结果页面-->

  </div>


     <div id="footer">
     <div class="container">
         <p>
      	<center>
        <h4>Designed by Nightingale ! 2014.10</h4>
      	</center>
        </p>
     </div>
    </div>


      
    <script src="/seproject/js/jquery-2.1.1.min.js"></script>    
    <script src="/seproject/js/bootstrap.min.js"></script>    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/seproject/js/ie10-viewport-bug-workaround.js"></script>

 </body>    
</html> 