<!DOCTYPE html>    
<html lang="en">    
  <head>    
    <title>用户信息</title>  

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link href="/seproject/css/bootstrap.min.css" rel="stylesheet" media="screen">    
  </head>   
  
<body>  
    <nav class="navbar navbar-default navbar-inverse" role="navigation">  
        <div class="collapse navbar-collapse">  
            <a class="navbar-brand" href="/seproject/index.php/user/home">首页</a>  
            <ul class="nav navbar-nav">  
                <li><a href="/seproject/index.php/user/search">论文查询</a></li> 
                <li><a href="/seproject/index.php/user/manage">论文管理</a></li>  
                <li class="active"><a href="/seproject/index.php/user/usermessage">用户信息</a></li> 
                <li><a href="/seproject/index.php">退出登录</a></li>  
            </ul>  
        </div>  
    </nav>  
  


    <HR WIDTH=100% SIZE=8 ALIGN=LEFT NOSHADE>
      <center>
        <h4>Designed by Nightingale ! 2014.10</h4>
      </center>
  
    <script src="/seproject/js/jquery-2.1.1.min.js"></script>    
    <script src="/seproject/js/bootstrap.min.js"></script>    

</body>    
</html> 